[alias]
  al = config --get-regexp alias
  aliases = config --get-regexp alias
  pl = pull
  ps = push
  st = status
  sts = status -s
  clr = clone --recursive
  cl = clone
  sw = switch
  c = commit
  cam = commit -am
  amm  = commit --amend -m
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
[core]
	editor = nvim
  #pager = less --mouse
  pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3
