[help]
# Automatically correct and execute mistyped commands.
autocorrect = 1
[user]
useConfigOnly = true
[core]
 editor = nvim
hooksPath = ~/dotfiles/git/hooks
# pager = less --mouse
pager = delta
	excludesFile = ~/dotfiles/git/ignore
[interactive]
diffFilter = delta --color-only
[delta]
navigate = true  # use n and N to move between diff sections
dark = true      # or light = true, or omit for auto-detection
[merge]
conflictstyle = zdiff3
tool = diffview
[mergetool]
prompt = false
keepBackup = false
[mergetool "diffview"]
cmd = nvim -n -c "DiffviewOpen" "$MERGE"
